@import "layout.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  overflow: hidden;

  margin: 0;
  padding: 0;

  background-image: url(images/bg1.jpg);
  /* background-color: black; */

}

.title{
   position: absolute;

   display: flex;
   flex-direction: column;

   margin-top: 25%;
   margin-left: 37%;

   align-items: center;
   justify-content: flex-start;
}

.title1 {
  display: table;

  text-transform: uppercase;

  color: #0B2349;
  background: linear-gradient(45deg, red 33%, orange 66%, yellow);
  -webkit-background-clip: text;

  font-family: "Akrobat-Black";
  font-size: 100px;

  -webkit-text-fill-color: transparent;
}

.title2 {
    margin-top: 2vw;
    margin-left: -1vw;

  font-family: "Akrobat-SemiBold";
    font-size: 27px;
}

img {
  position: absolute;
}

.place1 img{
  top: -3%;
  left: 22%;

  width: 30vw;
}

.place1 img{
  top: -1%;
  left: 20%;

  width: 30vw;
}

.place2 img {
  top: 46%;
  left: 85%;

  width: 13vw;
}

.place3 img {
  top: 80%;
  left: 6%;

  width: 41vw;
}

.place4 img {
  top: 1%;
  left: -9%;

  width: 45vw;
}

.place5 img {
  top: 4%;
  left: 53%;
}

.place6 img {
  top: 20%;
  left: 82%;

  width: 30vw;
}

.place7 img {
  top: 66%;
  left: 2%;

  width: 8vw;
}

.place8 img {
  top: 82%;
  left: 53%;

  width: 14vw;
}

.place9 img {
  top: 37%;
  left: -4%;

  width: 22vw;
}

.place10 img {
  top: 5%;
  left: 88%;
}

.place11 img {
  top: 60%;
  left: 62%;

  width: 63vw;
}

.place12 img {
  top: 78%;
  left: -1%;

  width: 20vw;
}

.place13 img {
  top: -11%;
  left: 59%;

  width: 39vw;
}

.place14 img {
  top: 75%;
  left: 34%;

  width: 27vw
}

.place15 img {
  top: 18%;
  left: 21%;

  width: 7vw;
}

.place16 img {
    top: 3%;
    left: 43%;

    width: 10vw;
  }

.place17 img {
  top: 12%;
  left: 48%;

  width: 11vw;

  opacity: 0.5;
}

.place18 img {
  top: 19%;
  left: 85%;

  width: 9vw;
}

.place19 img {
  top: 72%;
  left: 60%;

  width: 21vw;

  opacity: 0.5;
}

.place20 img {
  top: 54%;
  left: 3%;

  width: 25vw;

  opacity: 0.5;
}

div {
  position: absolute;

  width: 170px;
  height: 170px;

  background-image: url(images/star_yellow.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .title{
    margin-top: 28%;
    margin-left: 30%;
  }
}

@media all and (min-width: 567px) and (max-width: 769px){
  .title{
    margin-top: 55%;
    margin-left: 32%;
  }

  .title1{
    font-size: 70px;
  }

  .title2{
    margin-left: 0vw;

    font-size: 18px;
  }

  .place11{
    width: 200vw;
    margin-top: 62%;
    margin-left: 35%;
  }
}
