@import "layout.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;

  margin: 0;
  padding: 0;

  background-image: url(images/bg1.jpg);
  /* background-color: black; */

}

.title{
   display: flex;
   flex-direction: column;

   margin-top: 28%;
   margin-left: 16%;

   align-items: center;
   justify-content: flex-start;
}

.title1 {
  display: table;

  text-transform: uppercase;

  color: #0B2349;
  background: linear-gradient(45deg, red 33%, orange 66%, yellow);
  -webkit-background-clip: text;

  font-family: "Akrobat-Black";
  font-size: 150px;

  -webkit-text-fill-color: transparent;
}

.title2 {
    margin-top: 2vw;
    margin-left: 16vw;

  font-family: "Akrobat-SemiBold";
    font-size: 27px;
}

.title3 {
    margin-top: 0vw;
    margin-left: 23vw;

  font-family: "Akrobat-SemiBold";
    font-size: 27px;
}

img {
  position: absolute;
}

.place1 img{
  top: -1%;
  left: 25%;

  width: 30vw;
}

.place1 img{
  top: -1%;
  left: 25%;

  width: 30vw;
}

.place2 img {
  top: 53%;
  left: 85%;

  width: 13vw;
}

.place3 img {
  top: 80%;
  left: 24%;
}

.place4 img {
  top: 1%;
  left: -11%;

  width: 45vw;
}

.place5 img {
  top: 4%;
  left: 53%;
}

.place6 img {
  top: 25%;
  left: 82%;

  width: 20vw;
}

.place7 img {
  top: 68%;
  left: 43%;
}

.place8 img {
  top: 70%;
  left: 56%;

  width: 26vw;
}

.place9 img {
  top: 30%;
  left: 1%;

  width: 22vw;
}

.place10 img {
  top: 8%;
  left: 74%;
}

.place11 img {
  top: 69%;
  left: 60%;

  width: 52vw;
}

.place12 img {
  top: 58%;
  left: 1%;

  width: 27vw;
}

.place13 img {
  top: 11%;
  left: 58%;

  width: 23vw;
}

.place14 img {
  top: 73%;
  left: 90%;

  width: 10vw
}

.place15 img {
  top: 15%;
  left: 19%;

  width: 10vw;
}

.place16 img {
    top: 30%;
    left: 16%;

    width: 7vw;

    opacity: 0.5;
  }

.place17 img {
  top: 15%;
  left: 48%;

  width: 11vw;

  opacity: 0.5;
}

.place18 img {
  top: 24%;
  left: 50%;

  width: 18vw;
}

.place19 img {
  top: 60%;
  left: 76%;

  width: 14vw;

  opacity: 0.5;
}

.place20 img {
  top: 50%;
  left: 1%;

  width: 10vw;

  opacity: 0.5;
}

.place21 img {
  top: 28%;
  left: 74%;

  width: 8vw;
}

.place22 img {
  top: 13%;
  left: 88%;

  width: 7vw;

  opacity: 0.5;
}

.place23 img {
  top: 5%;
  left: 14%;

  width: 11vw;
}

.place24 img {
  top: 40%;
  left: 55%;

  width: 27vw;

  opacity: 0.5;
}

.place25 img {
  top: 27%;
  left: 36%;

  width: 17vw;
}

.place26 img {
  top: 32%;
  left: 11%;

  width: 36vw;
}

.place27 img {
  top: 50%;
  left: 37%;

  width: 8vw;

  opacity: 0.5;
}

.place28 img {
  top: 47%;
  left: 44%;

  width: 17vw;
}

.place29 img {
  top: 44%;
  left: 77%;

  width: 13vw;
}

.place30 img {
  top: 63%;
  left: 56%;

  width: 7vw;

  opacity: 0.5;
}

.button {
    display: flex;

    margin-top: 50%;
    margin-right: 42%;
    margin-left: 42%;
    padding: 0.2em 0.5em;

    transition: .4s;
    text-decoration: none;

    color: red;
    border: solid 5px red;
    border-radius: 3px;

    font-family: "Akrobat-Bold";
    font-size: 26px;

    justify-content: center;
    align-items: center;
}

.square_btn:hover {
    color: red, 0.5;
    background: white;
}

/* .paper1 {
  width: 80vw;
	height: 100vw;
  margin-top: 4vw;
  margin-left: 10vw;

	background: white;
} */

.more {
  display: none;
}

.more_click {
  display: block;

  transition: all 600ms ease-in-out;

  font-family: "Akrobat-Bold";
  font-size: 300px;
}

@media all and (max-width: 1441px){
   .button {
     margin-top: 54%;

     font-size: 40px;
   }
}

@media all and (max-width: 1024px){
   .button {
     margin-top: 60%;
     margin-right: 30%;
     margin-left: 30%;
     padding: 0.2em 4em;

     font-size: 50px;
   }

   .place3 img {
     top: 69%;
     left: -13%;

     width: 75vw;
   }

   .place5 img {
     top: 2%;
     left: 48%;
   }

   .place7 img {
     top: 68%;
     left: 34%;
   }

   .place8 img {
     top: 79%;
     left: 50%;

     width: 33vw;
   }

   .place11 img {
     top: 83%;
     left: 75%;
   }

   .place15 img {
     top: 15%;
     left: 4%;

     width: 10vw;
   }

   .place14 img {
     top: 71%;
     left: 75%;

     width: 17vw;
   }

   .place23 img {
     top: 8%;
     left: 2%;

     width: 51vw;
   }

   .place27 img {
     top: 58%;
     left: 42%;

     width: 32vw;
   }

   .place28 img {
     top: 57%;
     left: 25%;
   }

   .place30 img {
     top: 69%;
     left: 61%;

     width: 13vw;
   }
}

@media all and (max-width: 102px){
   .button {
     margin-top: 60%;

     font-size: 28px;
   }
}
